<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
</head>
<body>
  <div class="split-container" id="banner">
    <div class="left-logo">
      <img src="{{ url_for('static', filename='images/InkScanlogo.png') }}" alt="InkScanLogo" class="logo-big">
    </div>
    <div class="right-content">
      <div class="welcome-box">
        <h1>Welcome, {{ user }}!</h1>
        <p>Hi! We're glad you joined us! Let us tell you a bit about our app.....</p>
        <p class="intro">We are here to help you scan, save and listen to your handwritten notes! We are using an advanced Machine Learning model 
          which helps us analyze your images and extract the message. Plus, once scanned, you can always come back to look for your submitted files.
        </p>
        <button class="start-btn" onclick="startApp()">Get started!</button>
      </div>
    </div>
  </div>

  <script>
    function startApp() {
      const banner = document.getElementById("banner");
      banner.classList.add("fade-slide");
      setTimeout(() => {
        window.location.href = "/main";
      }, 600);
    }
  </script>
</body>
</html>
